@import "../../ui-kit/styles/vars";

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  padding: 20px;
  background: $black;

  &-wrapper {
    margin-bottom: 32px;
  }

  &__info {
    font-size: 18px;

    &__title {
      font-size: 20px;
    }

    div {
      padding-bottom: 12px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
